* {
    font-family: 'Open Sans', sans-serif !important;
}

.page_content {
    padding: 30px 0 60px 0;
    background: #f5f6f8;
}

.content {
    border: 2px solid #eff0f2;
    background: #fff;
    padding: 25px;
}

footer {
    background-color: #2fa4e7;
    border-color: #1995dc;
    color: #fff;
}

h2 {
    color: #000;
}

.full_image {
    width: 100%;
}

.item_in_list {
    padding: 24px 0;
    cursor: pointer;
}

h5 {
    padding-top: 10px;
    font-size: 18px;
}

.btn-green-big {
    display: block;
    width: 100%;
    min-height: 100px;
    background: #5b0;
    border-radius: 0;
    padding-top: 24px;
    color: #fff;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.btn-green-big:hover {
    color: #fff;
    text-decoration: none;
}

.row-leasing-top {
    border-top: 1px solid #ccc;
}

.row-leasing {
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
}

.row-leasing div {
    height: 100%;
}

.row-leasing strong {
    color: #000;
    font-size: 24px;
}