<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новые грузовые автомобили, купить грузовики</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-lazy-img.min.js"></script>
    <script src="/js/app.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="TruckShop">

    <div class="container">
        <div class="row">
            <div class="col-md-2 text-right">
                <a href="/">
                    <img src="/img/logo.png" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h1>НОВЫЕ ГРУЗОВИКИ<br>В НАЛИЧИИ</h1>
            </div>
            <div class="col-md-3 text-right text-center">
                <p style="padding-top: 24px">
                    <a href="http://atorgi.ru/feedback?outsite=1" target="_blank" class="btn btn-warning btn-lg btn-block">
                        Обратная связь
                    </a>
                </p>
            </div>
        </div>
    </div>

<nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="item in params.menu"><a href="{{item.url}}" target="_blank" style="cursor: pointer">{{item.title}}</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li ng-repeat="item in params.breadcrumb"><a href="{{item.url}}" target="_blank" style="cursor: pointer">{{item.title}}</a></li>
                </ol>
            </div>
        </div>
    </div>

    <!-- content -->
    <div ng-view></div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">&nbsp;</p>
    </div>
</footer>

    <div class="modal fade" tabindex="-1" role="dialog" id="get_phone">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p class="text-right"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>

                    <div>
                        <h5>Зарегистрируйтесь,<br>что бы скачать расчет</h5>
                        <form method="post" action="http://respectonline.ru/form">
                            <input type="hidden" name="message" value="{{url}}">
                            <div class="form-group text-left">
                                <label>Ваше имя:</label>
                                <input type="text" name="name" class="form-control" placeholder="Иван" required>
                            </div>
                            <div class="form-group text-left">
                                <label class="text-left">Телефон:</label>
                                <input type="text" name="phone" class="form-control" placeholder="+7 (999) 999-99-99" required>
                            </div>
                            <div class="form-group text-left">
                                <label class="text-left">Пароль:</label>
                                <input type="password" class="form-control" required>
                            </div>
                            <div class="form-group text-left">
                                <label class="text-left">Повторите пароль:</label>
                                <input type="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-warning">Зарегестрироваться и скачать</button>
                        </form>

                        <p style="padding-top: 24px; font-size: 80%">На номер телефона придет код подтверждения регистрации</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>