<!-- product -->
<div class="container content" ng-controller="LeasingController">
    <div class="row">

        <div class="col-md-4">
            <p class="thumbnail">
                <img ng-src="{{element.images[0]}}" alt="...">
            </p>

            <p><a href="/#/products/view/{{productId}}" target="_blank" class="btn btn-lg btn-link">Ещё фотографии и характеристики</a></p>

            <div class="well text-center" style="border: 1px solid orange; color: orange; font-size: 12px">
                <h3 style="color: orange">Ежемесячный платёж:</h3>
                <h1 style="color: orange">{{getInMouth() | format_price}} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></h1>
            </div>
        </div>

        <div class="col-md-4">
            <h3 style="margin: 0; padding: 0">Срок лизинга</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="period"  value="12" ng-model="period">
                    12 месяцев (1 год)
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="period"  value="24" ng-model="period">
                    24 месяца (2 года)
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="period"  value="36" ng-model="period">
                    36 месяцев (3 года)
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="period"  value="48" ng-model="period">
                    48 месяцев (4 года)
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="period"  value="60" ng-model="period">
                    60 месяцев (5 лет)
                </label>
            </div>
        </div>
    </div>

    <!-- item -->
    <div class="row row-leasing row-leasing-top" ng-repeat="(index, item) in banks">
        <div class="col-md-3">
            <img ng-src="{{item.image}}" alt="">
        </div>

        <div class="col-md-5 text-center" style="padding-top: 32px;">
            <strong ng-hide="!item.show">{{ getInMouth() | format_price }} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span> в месяц</strong>
            <strong ng-hide="item.show">в файле</strong>
        </div>

        <div class="col-md-4" style="padding-right: 0">
            <a href="" class="btn-green-big" data-toggle="modal" data-target="#get_phone_leasing">Скачать расчет</a>
        </div>
    </div>
</div>

<!-- view -->
<div class="modal fade" tabindex="-1" role="dialog" id="get_phone_leasing">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <h5>Зарегистрируйся <br>и скачай 5 расчетов лизинга</h5>
                    <form method="post" action="http://respectonline.ru/form">
                        <input type="hidden" name="message" value="{{url}}">
                        <input type="hidden" name="name" value="-- Не нужно --">
                        <p class="text-left" ng-repeat="(index, item) in banks">{{item.title}}: <span>{{ getInMouthForPercent(price, item.precent) | format_price }} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span> в месяц</span></p>
                        <div class="form-group text-left">
                            <label class="text-left">Телефон:</label>
                            <input type="text" name="phone" class="form-control" placeholder="+7 (999) 999-99-99" required>
                        </div>
                        <button type="submit" class="btn btn-warning">Зарегистрироваться и скачать</button>
                    </form>

                    <p style="padding-top: 24px; font-size: 80%">На номер телефона придет код подтверждения регистрации</p>
                </div>
            </div>
        </div>
    </div>
</div>
