<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Мы гарантируем наличие автомобилей в  представленном списке. Также наша компания, как официальный дилер может изготовить для вас любую кузовную надстройку. При продаже автомобиля мы не отправляем нашего клиента самостоятельно решать вопросы лизинга. У нас заключены договора со всеми ведущими лизинговыми компаниями со ставками существенно ниже рыночных. Мы имеем собственных лизинговых специалистов в штате, это позволяет нам предоставлять до 10 расчетов от разных лизинговых компаний в течении 30 минут. </p>
        </div>
    </div>
</div>

<!-- list -->
<div class="container content" ng-controller="IndexController">
    <div class="row item_in_list" ng-repeat="(index, item) in items">
        <div class="col-md-4">
            <a href="https://chat.whatsapp.com/invite/GN8SCADmB1P4MtWBdTKyOs" target="_blank" style="display: block; min-width: 210px; min-height: 200px; background: url('/img/load.gif') no-repeat center; text-align: center">
                <img class="full_image" src="" lazy-img="{{item.images[0]}}" >
            </a>
        </div>
        <div class="col-md-8">
            <a href="https://chat.whatsapp.com/invite/GN8SCADmB1P4MtWBdTKyOs" target="_blank"><h3>{{ item.title }}</h3></a>
            <p style="font-size: 24px">Цена в лизинг  <strong>{{ item.price | in_month | format_price }} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></strong> в месяц</p>
            <p>Год выпуска: 2017</p>
            <p>НОВЫЙ</p>
            <a href="https://chat.whatsapp.com/invite/GN8SCADmB1P4MtWBdTKyOs" target="_blank" class="btn btn-lg" style="width: 250px; background: #5b0; color: #fff;" >Подробнее</a>
        </div>
    </div>
</div>

<script>
    console.log(/Android|AppleWebKit|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));

    if( /Android|AppleWebKit|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        //window.location.href = "https://chat.whatsapp.com/invite/GN8SCADmB1P4MtWBdTKyOs";
    } else {
        console.log('not mobile');
    }
</script>