<!-- product -->
<div class="container content" ng-controller="ViewController">
    <div class="row" style="padding-bottom: 5px">
        <div class="col-md-12">
            <a href="/#/products" class="btn btn-link">Назад к списку</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>{{ element.title }}</h2>
        </div>

        <div class="col-md-4">
            <h2 class="text-success text-center"> Цена в лизинг<br>  <strong>{{ element.price | in_month | format_price }} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></strong> в месяц</h2>
        </div>
    </div>

    <div class="row" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc">
        <div class="col-md-8">
            <h5>Продавец: <a href="http://isuzu.market/?landing=isuzusibirru" target="_blank" style="text-decoration: underline;">ООО "Трак-Прайс"</a></h5>
            <h5>Автомобиль в наличии</h5>
        </div>

        <div class="col-md-4">
            <button type="button" data-toggle="modal" data-target="#get_phone" class="btn btn-lg" style="width: 100%; height: 100px; background: #5b0; border-radius: 0; padding-top: 12px; color: #fff; font-size: 32px;">Получить расчёт</button>
        </div>
    </div>

    <div class="row" style="margin-top: 24px">
        <div class="col-md-4">
            <dl class="dl-horizontal" ng-repeat="item in element.params">
                <dt>{{item.label}}</dt>
                <dd>{{item.value}}</dd>
            </dl>
        </div>
        <div class="col-md-8">
            <div class="thumbnail" style="border: 0">
                <img ng-src="{{thumbnail}}">
            </div>

            <div class="row">
                <div class="col-md-3"  ng-repeat="item in element.images">
                        <span class="thumbnail" ng-click="image(item)" style="cursor: pointer">
                            <img ng-src="{{item}}" alt="...">
                        </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>Комментарий</h3>
                    <div ng-bind-html="element.details | marker2br"></div>
                    <p class="text-left">
                        <br>
                        <a href="https://chat.whatsapp.com/invite/GN8SCADmB1P4MtWBdTKyOs" target="_blank" class="btn btn-lg" style="width:320px; background: #5b0; color: #fff;">Задать вопрос в Whatsapp</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

</div>

<!-- view -->
<div class="modal fade" tabindex="-1" role="dialog" id="get_phone">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="text-right">
                    <a href="/#/leasing/{{productId}}" class="close"><span aria-hidden="true">&times;</span></a>
                </p>

                <div>
                    <h5>Зарегистрируйтесь<br>и скачайте 5 расчетов лизинга</h5>
                    <form method="post" action="http://respectonline.ru/form">
                        <input type="hidden" name="message" value="{{url}}">
                        <input type="hidden" name="name" value="-- Не нужно --">
                        <p class="text-left" ng-repeat="(index, item) in banks">{{item.title}}: <span>{{ getInMouthForPercent(element.price, item.precent) | format_price }} <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span> в месяц</span></p>
                        <div class="form-group text-left">
                            <label class="text-left">Телефон:</label>
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" name="phone" class="form-control" placeholder="+7 (999) 999-99-99" required>
                        </div>
                        <button type="submit" class="btn btn-warning">Зарегистрироваться и скачать</button>
                    </form>

                    <p style="padding-top: 24px; font-size: 80%">На номер телефона придет код подтверждения регистрации</p>
                </div>
            </div>
        </div>
    </div>
</div>